* {
    color: #220e26;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }
  body {
    margin: 0px;
  }
  .logo_tfog {
    height: 6vh;
  }
  .block_search {
    display: flex;
    align-items: center;
  }
  .block_nickname {
    display: flex;
    align-items: center;
  }
  .block_search i {
    margin: 1vh;
  }
  .block_nickname i {
    margin: 1vh;
  }
  .picto {
    display: contents;
  }
  a {
    text-decoration: none;
  }
  .main_nav {
    display: flex;
    justify-content: space-between;
    background-color: #43d8c9;
    height: 10vh;
    align-items: center;
    padding: 3vh 5vh 3vh 5vh;
  }
  a:hover,
  i:hover {
    color: #e6fffb;
    text-decoration: none;
    font-weight: bold;
    /* font-size: 24px; */
  }
  /* .logo_tfog:hover {
    height: 7vh;
  } */
  .container_game {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
  }
  .logo_game {
    background-color: white;
    width: 35%;
    height: auto;
    text-align: center;
  }
  .presentation_game {
    background-color: #e6fffb;
    width: 65%;
    text-align: center;
  }
  .nav_game {
    display: flex;
    justify-content: center;
    background-color: #43d8c9;
    text-align: center;
    height: 10vh;
  }
  .nav_game ul {
    display: flex;
  }
  .nav_game ul li{
    list-style:none;
  }
  .my_info {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    text-align: center;
    background-color: #e6fffb;
    margin: auto;
  }
  /* .bar_tech {
    display: flex;
    justify-content: center;
    background-color: rgb(222, 255, 33);
    text-align: center;
  } */
  .container_tech {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 600px;
  }
  .my_tech {
    background-color: #e6fffb;
    width: 65%;
    text-align: center;
  }
  .aside_tech {
    background-color: white;
    width: 35%;
    height: auto;
    text-align: center;
  }
  /* .bar_game {
    display: flex;
    justify-content: center;
    background-color: rgb(243, 163, 72);
    text-align: center;
  } */
  .page_streamers {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    text-align: center;
    background-color: white;
  }
  .page_gamers {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    text-align: center;
    background-color: #e6fffb;
  }
  
/* end of css mohammed + jpaul */

/* css zaidun */
   
header {
    height: 70vh;
   border: 1px  solid black;
   
}
#rightDid{
    width: 50%;
    height: 70vh;
float : right ;
display: inline-block;
}
#leftDiv{
width: 50%; 
height: 70vh;
}
#logo {
width: 60%;
position: relative;
margin:  10% 2% 1% 16%;
display: inline-block;
float: left;
}
#riotgames{
width: 20%
}

#finderIcon{
width: 7%;
margin-left : 7%
}
#darkblue{
width : 35%;
}#sticker{
    position: relative;
    margin-top: 8%;
    margin-left: 6%;
width: 12%;
display: inline-block;
}

#riot{
display: block;
width: 100%;
line-height: 0px;
}
#leagueoflegend{
font-size: 50px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: bolder;
 line-height: 0px;
 margin-top: 15%;
 /* identical to box height */


color: #220E26;
}
#riot img{
display: inline-block;
margin-left: 5%;
width: 15%;
}
#follow{
font-size:15px ;
    border : none;
margin-top: 20px;
display: block;
padding: 16px 24px;
color: white;
background: #220E26;
border-radius: 12px;

}
#follow:hover{
cursor: pointer;
color:#43d8c9
}
#riot p {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 28px;
display: inline-block;
color: #220E26;
}

/*



*/